rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to articles and daily content
    match /articles/{articleId} {
      allow get, list: if true;
      // Allow server-side processes to create and update articles
      allow create, update: if true;
    }

    match /dailyContent/{docId} {
      allow get, list: if true;
       // Allow server-side processes to create and update the daily cache
      allow create, update: if true;
    }
  }
}
